{$SITE_ADDRESS} {
    # Reverse Proxy Setup for shiori
    redir /shiori /shiori/
    handle /shiori/* {
        reverse_proxy http://shiori:8080 
    }
    
    # Reverse Proxy Setup for Gotify
    redir /gotify /gotify/
    handle_path /gotify/* {
	    reverse_proxy gotify:80
    }

    # Reverse Proxy Setup for Yarr
    redir /rss /rss/
    handle /rss/* {
	    reverse_proxy 172.19.0.1:27070
	    #reverse_proxy 192.168.2.15:27070
    }

    # Reverse Proxy Setup for Monitorix
    redir /monitorix /monitorix/
    handle /monitorix/* {
	    reverse_proxy 172.19.0.1:58080
    }
    handle /monitorix-cgi/* {
	    reverse_proxy 172.19.0.1:58080
    }

    # Hochzeits Webseite
    redir /wedding /wedding/
    handle_path /wedding/* {
	encode gzip
	root * /etc/caddy/www/
        file_server
    }
}

pi.hole {
    tls internal
    # Reverse Proxy Setup for Pihole
    redir /admin /admin/
    reverse_proxy /admin/* pihole
    
    # Reverse Proxy Setup for Syncthing
    #reverse_proxy /syncthing/* syncthing:8384
    redir /syncthing /syncthing/
	handle_path /syncthing/* {
        reverse_proxy syncthing:8384
    }
    
    # Reverse Proxy Setup for Gotify
    redir /gotify /gotify/
    handle_path /gotify/* {
	    reverse_proxy gotify:80
    }

    # Reverse Proxy Setup for netdata
    redir /netdata /netdata/
    handle_path /netdata/* {
	    reverse_proxy netdata:19999
    }

    # Reverse Proxy Setup for shiori
    redir /shiori /shiori/
    handle /shiori/* {
        reverse_proxy http://shiori:8080 
    }

    redir /rss /rss/
    handle /rss/* {
	    reverse_proxy 172.19.0.1:27070
    }

    # Reverse Proxy Setup for Monitorix
    redir /monitorix /monitorix/
    handle /monitorix/* {
	    reverse_proxy 172.19.0.1:58080
    }
    handle /monitorix-cgi/* {
	    reverse_proxy 172.19.0.1:58080
    }


}

uptime.pi.hole {
    tls internal
    # Reverse Proxy Setup for Uptime Kuma
    reverse_proxy uptime:3001
}
