pi.hole {
    tls internal
    # Reverse Proxy Setup for Pihole
	reverse_proxy /admin/* pihole
    
    # Reverse Proxy Setup for Syncthing
	#reverse_proxy /syncthing/* syncthing:8384
	handle_path /syncthing/* {
        reverse_proxy syncthing:8384
    }
    
    # Reverse Proxy Setup for Gotify
    handle_path /gotify/* {
	    reverse_proxy gotify:80
    }

    # Reverse Proxy Setup for netdata
    handle_path /netdata/* {
	    reverse_proxy netdata:19999
    }

    # Reverse Proxy Setup for shiori
    redir /shiori /shiori/
    handle /shiori/* {
        reverse_proxy http://shiori:8080 
    }

    #handle_path /shiori/* {
    #    # Cut prefixes
    #    reverse_proxy shiori:8080
    #
    #    # Rewrite response
    #    handle_response {
    #        rewrite * /shiori/{path}
    #    }
    #} 
}

uptime.pi.hole {
    tls internal
    # Reverse Proxy Setup for Uptime Kuma
    reverse_proxy uptime:3001
}
